nav.nav-categories {
    background: #eceff8;
}


input.input-search-home {
    border-bottom: 1px solid #000000;
}

button.button-search.home {
    border: 1px;
    background: #eceff8;
    position: relative;
    top: -30px;
    left: -20px;
}

.container-fluid {
    border-bottom: 1px solid #000000;
}

.container.search-nav {
    padding-top: 50px;
}

.single-slider .slider-content .slider-btn a {
    font-size: 14px;
    line-height: 1;
    display: inline-block;
    padding: 19px 50px 21px;
    text-transform: uppercase;
    color: #010101;
    border: 1px solid #333;
    padding: 5px;
    padding: 20px;
    width: 50%;
    text-align: center;
}

img.default-img.carousel-product-home{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

button.btn.btn-lg.border-0.w-100.subscribe {
    background: #563c69;
    color: #FFFFFF;
    right: 0;
    margin: auto;
    left: inherit;
    width: 50%;
}

.support-content {
    text-align: center;
}

img.animated.suport {
    padding-bottom: 20px;
}

.support-area.pt-100.pb-60 {
    background: #c2c2c2;
    padding-top: 20px;
    padding-bottom: 0px;
}

img.animated.adverts {
    width: 100%;
    height: 450px;
}

button.swiper-button-next.ht-swiper-button-nav {
    opacity: 1;
}

.nav-style-1 .ht-swiper-button-nav {
    opacity: 1;
    visibility: initial;
    padding-top: 100px;
}